<launch>
    <arg name="bag_path" default="/home/uib/derelictes_ws/bagfiles/"/> 
    <arg name="bag_name" default="sparus2_multibeam_2025-11-10-10-18-53_0.bag"/>
    <arg name="output_dir" default="/home/uib/derelictes_ws/bagfiles/results/"/>
    <arg name="rate" default="1.0" />
    <arg name="start_time" default="100.0"/>
    <arg name="rviz" default="True" />
    
    <param name="use_sim_time" value="true"/>
    
    <param name="multibeam_processor/bag_file"      value="$(arg bag_path)$(arg bag_name)" />
    <param name="multibeam_processor/scan_topic"    value="/sparus2/norbit_wbms_multibeam/multibeam_scan" />
    <param name="multibeam_processor/nav_topic"     value="/sparus2/navigator/navigation" />
    <param name="multibeam_processor/file_interp"   value="$(arg output_dir)interpolated.xyz" />
    <param name="multibeam_processor/file_nearest"  value="$(arg output_dir)nearest_neighbor.xyz" />
           

    
    <node pkg="rosbag" type="play" name="player" args="--clock --rate $(arg rate) --start $(arg start_time) $(arg bag_path)$(arg bag_name)" output="screen"/>
    
    <node pkg="pointcloud_lib" type="multibeam_processor.py" name="multibeam_processor" output="screen" required="true"/>

      <!-- RVIZ -->   
    <group if="$(arg rviz)">  
        <node name="rviz" pkg="rviz" type="rviz" args="-d /home/uib/derelictes_ws/src/pointcloud_lib/scenes/PCL.rviz" output="log"/>
    </group>

</launch>